<h1>Listing contacts</h1>

<%= render 'search' %>

<%= link_to 'New Contact', new_contact_path %>

<section>
<ul id="contacts">
<% @contacts.each do |contact| %>
  <li>
    <div class="contact">
    <h2>
    <%= image_tag contact.picture.url(:thumb) %>
    <%= contact.first_name %> <%= contact.last_name %></h2>
    <p class="detail">
    <%= mail_to contact.email %><br />
    <%= contact.phone_number %><br />
    <%= image_tag("twitter.png", :alt => contact.twitter_account ) if contact.twitter_account %>
    </p>
    <p class="actions">
    <%= link_to 'Show', contact %>
    <%= link_to 'Edit', edit_contact_path(contact) %>
    <%= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete %>
    </p>
  </li>
<% end %>
</ul>
</section>

<%= will_paginate @contacts %>
