<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @contact.picture.url(:medium) %>
</p>
<p>
  <b>First name:</b>
  <%= @contact.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @contact.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Company:</b>
  <% if @contact.company %>
  <%= link_to @contact.company.name, @contact.company %>
  <% end %>
</p>

<p>
  <b>Phone number:</b>
  <%= @contact.phone_number %>
</p>

<p>
  <b>Twitter account:</b>
  <%= @contact.twitter_account %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
