<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @contact.picture.url(:medium) %>
</p>
<p>
  <b>First name:</b>
  <%= @contact.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @contact.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= mail_to @contact.email %>
</p>

<p>
  <b>Company:</b>
  <% if @contact.company %>
  <%= link_to @contact.company.name, @contact.company %>
  <% end %>
</p>

<p>
  <b>Phone number:</b>
  <%= @contact.phone_number %>
</p>

<p>
  <b>Twitter account:</b>
  <%= @contact.twitter_account %>
</p>

<% if not @contact.twitter_account.blank? %>
  <h2>Tweets</h2>

  <table>
    <tr>
      <th>text</th>
    </tr>
    <tr id="tweets">
      <td><%= image_tag("ajax-loader.gif", :alt => 'Loading' )  %> Please wait while loading...</td>
    </tr>
  </table>
  <script>
    $(document).ready(function(){
      $.ajax({
        type: "GET",
        url: "<%= url_for [@contact, :tweets]%>.json",    
        dataType: "json",
        success: function(data){
          var html = '' ;
          for( var i=0; i<data.length; i++ ) {
            html += '<tr><td>'+data[i].text+'</td></tr>' ;
          }
          $('#tweets').html(html) ;
       }
    });
  });
<% end %>

</script>
<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
