<h2>Details</h2>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Address:</b>
  <%= @company.address %>
</p>

<h2>Contacts</h2>

<table>
  <tr>
    <th>Name</th><th>email</th><th>Phone number</th>
  <tr>
  <% @company.contacts.each do |contact| %>
  <tr>
    <td><%= contact.name %></td>
    <td><%= contact.email %></td>
    <td><%= contact.phone_number %></td>
  <tr>
  <% end %>
</table>
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
